html,
body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.display_outline {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 375px;
    height: 812px;
    border: 2px solid rgb(175, 175, 175);
    border-radius: 30px;
    background-color: #CACACA;
}

.display_bezel {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 365px;
    height: 795px;
    border-radius: 30px;
    background-image: linear-gradient(black, #393939);
}

.display_inline {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 355px;
    height: 768px;
    background-color: white;
    border-radius: 18px;
    margin-bottom: 2.5px;
    border: 0.5px solid black;
}

#background-photo_img {
    width: 355px;
    height: 240px;
    opacity: 1.0;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
}


#go {
    cursor: pointer;
}

button:focus {
    outline: none;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 335px;
    height: 240px;
    background-color: hsla(0, 0%, 0%, 0.0);
    position: absolute;
}

.header-nav-top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 355px;
    height: 26px;
    background-color: hsla(0, 0%, 0%, 0.4);
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;
    cursor: default;
}

.header-nav-top-left_box {
    font-size: 11px;
    font-weight: bold;
    color: white;
    margin-left: 12px;
}

.header-nav-top-right_box {
    font-size: 13px;
    margin-right: 12px;
    color: white;
}

.header-nav-center_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 100%;
    padding-top: 10px;
}

.header-nav-center-left_box {
    display: flex;
    align-items: center;
    width: 30px;
    height: 30px;
    font-size: 30px;
    color: #00A0B6;
}

.header-nav-center-right_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 70px;
    height: 30px;
    font-size: 30px;
    color: #00A0B6;
}

.profile {
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.header-nav-bottom_container {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.header-nav-bottom_item {
    width: 105px;
    height: 43px;
    font-weight: bold;
    font-size: 15px;
    color: #00A0B6;
    background-color: hsla(0, 0%, 0%, 0);
    border-radius: 25px;
    border: 1px solid hsla(187, 100%, 36%, 0.3);
}

.header-nav-bottom_item:hover {
    color: white;
    background-color: hsla(187, 100%, 36%, 1.0);
    cursor: pointer;
}

main {
    width: 345px;
    height: 420px;
    margin-bottom: 10px;
}

.main-a {
    display: flex;
    height: 88px;
    padding-top: 25px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: linear-gradient(#DFDFDF, white);
}

.main-a-left_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 260px;
}

.main-a-title_box {
    font-weight: 900;
    color: #005371;
}

.main-a-title {
    font-size: 18px;
}

.main-a-subtitle {
    font-size: 15px;
}

.price_item {
    display: flex;
    align-items: center;
    height: 23px;
}

.price-19_item {
    font-size: 23px;
    font-weight: bold;
    color: #00A0B6;
}

.price-29_item {
    font-size: 20px;
    font-weight: 100;
    color: #A9C5C6;
    text-decoration: line-through;
    margin-left: 10px;
}

.main-a-right_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 55px;
}

.main-a-point_btn {
    width: 50px;
    height: 30px;
    font-size: 15px;
    font-weight: bold;
    color: #00A0B6;
    background-color: hsla(0, 0%, 0%, 0);
    border-radius: 25px;
    border: 1px solid hsla(187, 100%, 36%, 1.0);
}

.main-a-point_btn:hover {
    color: white;
    background-color: hsla(187, 100%, 36%, 1.0);
    cursor: pointer;
}

.main-right_span {
    font-size: 12px;
    color: #005371;
}

.main-b {
    display: flex;
    justify-content: space-between;
    height: 83px;
    padding-top: 20px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: linear-gradient(#DFDFDF, white);
    margin-bottom: 20px;
}

.main-b-left_box {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.main-b-title {
    font-size: 15px;
    font-weight: 900;
    color: #005371;
}

input[class="color_cb"] {
    display: none;
}

input[id="cb1"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 7px solid #4482D9;
    border-radius: 50%;
    background-color: #4482D9;
    cursor: pointer;
}

input[id="cb1"]:checked + label {
    background-color: #375F9C;
}

input[id="cb2"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 7px solid #6BD7A7;
    border-radius: 50%;
    background-color: #6BD7A7;
    cursor: pointer;
}

input[id="cb2"]:checked + label {
    background-color: #509C77;
}

input[id="cb3"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 7px solid #67818E;
    border-radius: 50%;
    background-color: #67818E;
    cursor: pointer;
}

input[id="cb3"]:checked + label {
    background-color: #46565e;
}

input[id="cb4"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 7px solid #1FEDEA;
    border-radius: 50%;
    background-color: #1FEDEA;
    cursor: pointer;
}

input[id="cb4"]:checked + label {
    background-color: #1FA9A9;
}

input[id="cb5"] + label {
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 7px solid #8358F0;
    border-radius: 50%;
    background-color: #8358F0;
    cursor: pointer;
}

input[id="cb5"]:checked + label {
    background-color: #6742d6;
}

button[class="main-clearall_btn"] {
    font-size: 12px;
    text-align: flex-end;
    color: #005371;
    background-color: hsla(0, 0%, 0%, 0);
    border: none;
    cursor: pointer;
}

.main-c {
    height: 123px;
    padding-top: 25px;
    padding-bottom: 12px;
    padding-left: 15px;
    padding-right: 15px;
    background-image: linear-gradient(#DFDFDF, white);
}

.main-c-top_box {
    display: flex;
    justify-content: space-between;
}

.main-c-title {
    font-size: 15px;
    font-weight: 900;
    color: #005371;
}

.main-c-bottom_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 24px;
}

input[class="size_cb"] {
    display: none;
}

input[class="size_cb"] + label {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 32px;
    font-weight: bold;
    color: #005371;
    border-radius: 25px;
    background-color: #DFE3E4;
    cursor: pointer;
}

footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 354px;
    height: 95px;
    border-top: 1.5px solid rgb(226, 226, 226);
}

.footer-top_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 324px;
    height: 63.5px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 1.5px solid rgb(226, 226, 226);
}

.like_box {
    display: flex;
}

.like_btn {
    width: 63px;
    height: 45px;
    font-size: 22px;
    color: white;
    border: none;
    border-radius: 25px;
    background-color: #00B1C3;
    cursor: pointer;
}

.addtocart_box {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 195px;
    height: 45px;
    padding-left: 25px;
    padding-right: 25px;
    background-color: #00B1C3;
    border-radius: 25px;
}

.addtocart_span_box {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.addtocart-pm_btn_box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90px;
}

.minus_btn {
    font-size: 30px;
    color: white;
    border: none;
    background-color: hsla(0, 0%, 0%, 0);
    cursor: pointer;
}

#countnumber_js {
    font-size: 15px;
    font-weight: bold;
    color: white;
}

.plus_btn {
    font-size: 30px;
    color: white;
    border: none;
    background-color: hsla(0, 0%, 0%, 0);
    cursor: pointer;
}

.footer-bottom_container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 200px;
    height: 33px;
}

.phone_btn {
    font-size: 18px;
    color: #828282;
    border: none;
    background-color: hsla(0, 0%, 0%, 0);
    cursor: pointer;
}